* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 1em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}



header nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-item a{
    font-size: 1.5em;
    color: #000;
    text-decoration: none;
    padding: 0 10px;
}
.site-title {
    display: flex;
    align-items: center;
}

.site-title img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;

}

#about-me {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
}

#about-me  img {
    width: 20%;
}

#about-me h2 {
    font-size: 3em;
    line-height: 1.5em;
    letter-spacing: 4px;
    margin: 10px auto;  
}

#about-me h3 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 10px auto;  
    color: salmon;
}

#work {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

#work h2 {
    margin: 30px auto;
    font-size: 1.5em;
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.work-item {
    display: flex;
    flex-direction: column;
    border-bottom: 15px solid #1f2229;
    border-right: 15px solid #1f2229;
    
    border-radius: 10px;
    width: 30%;
    margin-bottom: 10px;
    background-color: #1f2229
}

.work-item:hover {
    border: 15px solid #1f2229;
    border-radius: 10px;
    
}

.work-item img {
    border-radius: 10px;
    background: #1f2229;
}

.work-item-content {
    color:azure;
    display: flex;
    align-items: flex-end;
}
.work-item h3{
    margin: 0 10px;
    font-size: 1em;

}

.work-item h4{
    color: azure;
    font-size: 0.5em;
}
.work-item:first-child {
    flex-basis: 100%;
    font-size: 150%;
}
#Run-Buddy img {
    width: 100%;
}

